.modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .box {
        background: #fff;
        padding: 50px 50px 30px 50px;
        border-radius: 12px;
        position: relative;

        svg {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
        }

        h3 {
            margin-bottom: 20px;
        }

        hr {
            border: none;
            height: 2px;
            background: #2196F3;
            margin-bottom: 7px;
        }

        fieldset {
            border-radius: 4px;
            border-color: #2196F3;
            width: 350px;

            legend {
                margin-left: 5px;
                padding: 0 5px;
                font-size: 12px;
                color: #2196F3;
            }
        }

        fieldset:not(:last-child) {
            margin-bottom: 20px;
        }

        input,
        textarea {
            border: 0;
            width: calc(100% - 10px);
            margin: 0px 5px 5px 5px;
            resize: none;
        }

        input:focus,
        textarea:focus {
            outline: none;
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                height: 36px;
                width: 110px;
                border: solid 1px #2196F3;
                border-radius: 4px;
                font-size: 14px;
                transition: 0.2s;
                cursor: pointer;
            }

            button#cancelar {
                background: #fff;
                color: #2196F3;
                font-weight: 700;
                margin-right: 15px;
            }

            button#cancelar:hover {
                background: #da1b1b;
                border-color: #da1b1b;
                color: #fff;
            }

            button#criar {
                background: #2196F3;
                color: #fff;
                font-weight: 700;
            }

            button#criar:hover {
                // background: #56bb1c;
                // border-color: #56bb1c;
                color: #fff;
            }
        }
    }

    select {
        border: none;
        padding-left: 5px;
        width: calc(100%);

        &:focus {
            outline: none;
        }
    }
}