.sub-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    margin-top: 20px;

    .search {
        position: relative;
        width: 300px;
        height: 40px;
        background: #e9e9e9;
        padding: 0 20px;
        margin-right: 17px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        color: rgb(95, 95, 95);

        input {
            border: none;
            background: none !important;
            font-size: 14px;
            width: 100%;
        }

        input:focus {
            outline: none;
        }

        input:after {
            cursor: pointer;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #e9e9e9 inset;
        }

        svg {
            margin-right: 7px;
        }
    }


}

.subMenuButton{
    position: absolute;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.creationButton {
    right: 10%;
    background: /*#0257fd*/black;
}

.deleteButton {
    right: calc(10% + 50px);
    background: rgb(241, 12, 12);
}

.editButton{
    right: calc(10% + 100px);
    background: rgb(4, 172, 4);
}