.sub-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    margin-top: 20px;

    .search {
        position: relative;
        width: 300px;
        height: 40px;
        background: #e9e9e9;
        padding: 0 20px;
        margin-right: 17px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        color: rgb(95, 95, 95);

        input {
            border: none;
            background: none !important;
            font-size: 14px;
            width: 100%;
        }

        input:focus {
            outline: none;
        }

        input:after {
            cursor: pointer;
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #e9e9e9 inset;
        }

        svg {
            margin-right: 7px;
        }
    }

    button {
        position: relative;
        border-radius: 10px;
        background: #0257fd;
        border: none;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 235px;
        padding: 0 20px;
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
        transition: width 1s;

        svg {
            margin-right: 5px;
        }
    }
}