@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, rgb(23, 42, 184) 0%, rgba(0, 255, 255, 1) 100%);
  padding: 0 20px;

  .login-nav-btn {
    color: #fff;
    background: #0257fd;
    padding: 7px 15px;
    border-radius: 10px;
  }

  .profile {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    min-width: 185px;
    justify-content: flex-end;

    .profile-name {
      background: #0257fd;
      width: max-content;
      border-radius: 10px;
      padding: 7px 25px;
      margin-right: -15px;
      font-weight: 700;
      color: #fff;
    }

    .profile-image {
      height: 90%;
      border-radius: 50%;
    }

    .dropdown {
      transition: height 0.5s;
      position: absolute;
      width: 100%;
      height: 0;
      background: #fff;
      top: 55px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 6px;
      overflow-y: hidden;
      z-index: 10;

      .name {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 7px;
        cursor: default;
      }

      .actions {
        width: 100%;
        padding: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1699FE;

        p {
          transition: 1s;
          cursor: pointer;
        }

        p:hover {
          text-decoration: underline;
        }
      }

      hr {
        border: none;
        height: 1px;
        background: #e7e7e7;
      }

      .settings {
        width: 100%;
        padding: 10px 20px;

        .setting {
          display: flex;
          width: 100%;
          align-items: center;
          cursor: pointer;

          p {
            margin-left: 8px;
          }

          p:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .profile:hover {
    .dropdown {
      height: 125px;
    }
  }
}