.content {
    table {
        margin-top: 20px;
        width: 100%;
        font-weight: 400;
        border-collapse: collapse;

        th {
            color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 10px;
            border-bottom: solid 1px;
        }

        // th:nth-child(2n) {
        //     background: red;
        // }

        td {
            padding: 10px 10px;
            border-bottom: solid 1px;
            border-color: rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    }
}